<h1>Something went wrong!</h1>

<div class="bork">
  <img src="https://27.media.tumblr.com/tumblr_lb86w5MP6p1qaclxyo1_400.gif" alt="I have no idea">
  <h2 class="text-center"><%= data %> - bork bork bork!</h2>
</div>
