<div class="row">
  <div class="col-md-12">
    <h1><%= identifier.capitalize %></h1>
  </div>
  <div class="identifier-data">
    <h4>Breakdown By Hour: <%= data[:data] %></h4>
    <h4>Total Requests Received: <%= data[:total] %></h4>

  </div>
</div>
